<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    
  </head>
  <body>

    <div class="container">
      <fieldset>
         <!-- to run postgresdb, update the form-action to '/addUser' -->
        <form action="/addData", method="POST">
          <input name="username" type="text" class="ghost-input" placeholder="Enter username" required>
          <input name="age" type="text" class="ghost-input" placeholder="Enter  age" required>
          <input type="submit" class="ghost-button" value="Add User">
        </form>
      </fieldset>
    </div>
  </body>
</html>