<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    
  </head>
  <body>

    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a text" required>
          <input type="submit" class="ghost-button" value="Click to send">
        </form>
      </fieldset>
    </div>
  </body>
</html>